<div class = 'container page-title'>
    <div class = 'row'>
        <div class = 'col col-10'>
            <h1>Team Info</h1>
        </div>
        <div class = 'col col-2'>
            <button class = 'btn btn-default ref-btn'>Refresh</button>
        </div>
    </div>
</div>

<div class = 'container'>
    <div class = 'row'>
        <div class = 'col-12'>
            <h1>{{teamName}}</h1>
        </div>
    </div>
</div>


<div class = 'container all-team-members'>
    <div class = 'row justify-contents-center'>
        <div *ngFor = 'let teammate of teammatesArr' class = 'col col-lg-4 col-md-6 col-sm-10'>
            <div class = 'team-member'>
                <div class = 'row'>
                    <div class = 'col col-lg-3 col-md-3 col-sm-3 pokeIcon'>
                        <img class = 'user-icon' alt='user-icon' src='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/2.png'>
                    </div>
                    <div class = 'col col-lg-7 col-md-6 col-sm-6'>
                        <label class = 'pokeLabel'>user</label>
                        <div class ='team-member-username'>{{teammate.username}}</div>
                    </div>
                    <div class = 'col col-lg-2 col-md-2 col-sm-2'>
                        <label class = 'pokeLabel'>lvl</label>
                        <div class = 'team-member-lvl'>{{teammate.level}}</div>
                    </div>
                </div>
                <hr class = 'dark-hr'>
                <div class = 'row'>
                    <div class = 'col col-2 poke-sm-head'>#</div>
                    <div class = 'col col-lg-7 col-md-6 col-sm-6 col-6 poke-sm-head'>Pok&eacute;mon</div>
                    <div class = 'col col-1 poke-sm-head'>lvl</div>
                </div>
                <div *ngFor = 'let poke of teammate.userPokeArr; let i = index' class = 'row'>
                    <div class = 'col col-lg-2 col-2'>
                        {{i + 1}}
                    </div>
                    <div class = 'col col-lg-7 col-md-6 col-sm-6 col-6'>
                        {{poke.name}}
                    </div>
                    <div class = 'col col-lg-1 col-1'>
                        15
                    </div>
                </div>
                <div class = 'row'>
                    <div class = 'col-12'>
                        <button id = 'trade-btn' class = 'btn btn-warning' (click)="showInfo(teammate); openModalWithClass(trade)">Trade</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #trade>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Trade with {{selTeammate.username}}</h4>
        <button type="button" class="close pull-right" (click)="closeModal()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class = 'row'>
            <div class = 'col-5'>
                <h3>{{selTeammate.username}}</h3>
            </div>
            <div class = 'col-7 text-right'>
                <h3>You</h3>
            </div>
        </div>
        <div class="form-group" *ngFor='let pokemon of selTeammate.userPokeArr; let i = index'>
            <div class = 'row'>
                <div class = 'col col-1'>
                    <img src = "{{pokemon.sprite}}">
                </div>
                <div class = 'col col-1 cust-offset text-right'>
                    <label class = 'pokeLabel'>lvl</label>
                    <div class = 'pokeIdModal'>19</div>
                </div>
                <div class = 'col col-2 rightBorder text-right'>
                    <label class = 'pokeLabel'>Moves</label>
                    <div *ngFor = 'let move of pokemon.moveArr'>
                        <span>{{move}}</span><br>
                    </div>
                </div>
        <!-- OOOOKAY this is user's chosen poke -->
                <div class = 'col col-4'>
                    <div *ngIf='tradePokeArr[i].id == 0'>
                        <label>No Poke Selected</label>
                    </div>
                    <div *ngIf='tradePokeArr[i].id != 0'>
                        <div class = 'row'>
                            <div class = 'col-6'>
                                <div class = 'pokeLabel'>Moves</div>
                                <div *ngFor = 'let move of tradePokeArr[i].moves'>
                                    <span>{{move.move.name}}</span><br>
                                </div>
                            </div>
                            <div class = 'col-3'>
                                <label class = 'pokeLabel'>lvl</label>
                                <div class = 'pokeIdModal'>14</div>
                            </div>
                            <div class = 'col-3'>
                                    <img src = "{{tradePokeArr[i].sprite.front_default}}">
                            </div>
                        </div>
                    </div>

                </div>
                <div class = 'col col-3'>
                    <select class = 'tradePokePicker-btn big-boy-btn btn cust-offset-2' (change)='showPokeInfo($event.target.value, i)'>
                        <option value = '0' (click)='showPokeInfo(0)' selected>Select Pok&eacute;mon</option>
                        <option *ngFor='let pokes of currentUser.userPokeArr' [value] = 'pokes.id'>{{pokes.name}} ({{pokes.id}})</option>
                    </select>
                </div>
            </div>
            <div class = 'row'>
                <div class = 'col col-12'>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <div class = 'modal-footer'>
            <div class = 'col col-6'>
                <button class = 'btn btn-warning'>Send Trade Request</button>
            </div>
            <div class = 'col col-6'>
                <button class = 'btn btn-default' (click)="closeModal()" aria-label='Close'>Canel</button>
            </div>
        </div>
</ng-template>



