<div class = 'container page-title'>
    <div class = 'row'>
        <div class = 'col col-10'>
            <h1>Team Info</h1>
        </div>
        <div class = 'col col-2'>
            <button class = 'btn btn-default ref-btn'>Refresh</button>
        </div>
    </div>
</div>

<div class = 'container'>
    <div class = 'row'>
        <div class = 'col-12'>
            <h1>{{teamName}}</h1>
        </div>
    </div>
</div>


<div class = 'container all-team-members'>
    <div class = 'row justify-contents-center'>
        <div *ngFor = 'let teammate of teammatesArr' class = 'col col-lg-4 col-md-6 col-sm-10'>
            <div class = 'team-member'>
                <div class = 'row'>
                    <div class = 'col col-lg-3 col-md-3 col-sm-3 pokeIcon'>
                        <img class = 'user-icon' alt='user-icon' src='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/2.png'>
                    </div>
                    <div class = 'col col-lg-7 col-md-6 col-sm-6'>
                        <label class = 'pokeLabel'>user</label>
                        <div class ='team-member-username'>{{teammate.username}}</div>
                    </div>
                    <div class = 'col col-lg-2 col-md-2 col-sm-2'>
                        <label class = 'pokeLabel'>lvl</label>
                        <div class = 'team-member-lvl'>{{teammate.level}}</div>
                    </div>
                </div>
                <hr class = 'dark-hr'>
                <div class = 'row'>
                    <div class = 'col col-2 poke-sm-head'>#</div>
                    <div class = 'col col-lg-7 col-md-6 col-sm-6 col-6 poke-sm-head'>Pok&eacute;mon</div>
                    <div class = 'col col-1 poke-sm-head'>lvl</div>
                </div>
                <div *ngFor = 'let poke of teammate.userPokeArr; let i = index' class = 'row'>
                    <div class = 'col col-lg-2 col-2'>
                        {{i + 1}}
                    </div>
                    <div class = 'col col-lg-7 col-md-6 col-sm-6 col-6'>
                        {{poke.name}}
                    </div>
                    <div class = 'col col-lg-1 col-1'>
                        15
                    </div>
                </div>
                <div class = 'row'>
                    <div class = 'col-12'>
                        <button id = 'trade-btn' class = 'btn btn-warning' (click)="openModalWithClass(trade)">Trade</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #trade>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Trade with theDude01</h4>
        <button type="button" class="close pull-right" (click)="trade.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <div class = 'row'>
                <div class = 'col col-1'>
                    <!-- <img src = "{{spriteURL}}"> -->
                    <img src = "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/6.png">
                </div>
                <div class = 'col col-1 offset-1'>
                    <label class = 'pokeLabel'>lvl</label>
                    <div class = 'pokeIdModal'>19</div>
                    <!-- <div class = 'pokeIdModal'>{{lvl}}</div> -->
                </div>
                <div class = 'col col-3 rightBorder'>
                    <label class = 'pokeLabel'>Moves</label>
                    <div>
                        <span>yadda</span><br>
                        <span>yadda</span><br>
                        <span>yadda</span><br>
                        <span>yadda</span><br>
                    </div>
                    <!-- <div *ngFor='let move of moves'>
                        <span>{{move}}</span><br>
                    </div> -->
                </div>
                <div class = 'col col-3'>
                    <div class = 'pokeLabel'>Pok&eacute; Info</div>
                    <div id = 'pokeInfo1'></div>
                </div>
                <div class = 'col col-3'>
                    <select class = 'tradePokePicker-btn big-boy-btn btn'>
                        <option value = '0' selected disabled>Select Pok&eacute;mon</option>
                        <option value = '1'>Pikachu : 18</option>
                        <option value = '2'>Richu : 18</option>
                        <option value = '3'>Charizard : 18</option>
                    </select>
                </div>
            </div>
            <div class = 'row'>
                <div class = 'col col-12'>
                    <hr>
                </div>
            </div>
            <div class = 'row'>
                <div class = 'col col-1'>
                    <!-- <img src = "{{spriteURL}}"> -->
                    <img src = "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/132.png">
                </div>
                <div class = 'col col-1 offset-1'>
                    <label class = 'pokeLabel'>lvl</label>
                    <div class = 'pokeIdModal'>10</div>
                    <!-- <div class = 'pokeIdModal'>{{lvl}}</div> -->
                </div>
                <div class = 'col col-3 rightBorder'>
                    <label class = 'pokeLabel'>Moves</label>
                    <div>
                        <span>yadda</span><br>
                        <span>yadda</span><br>
                        <span>yadda</span><br>
                        <span>yadda</span><br>
                    </div>
                    <!-- <div *ngFor='let move of moves'>
                        <span>{{move}}</span><br>
                    </div> -->
                </div>
                <div class = 'col col-3'>
                    <div class = 'pokeLabel'>Pok&eacute; Info</div>
                    <div id = 'pokeInfo1'></div>
                </div>
                <div class = 'col col-3'>
                    <select class = 'tradePokePicker-btn big-boy-btn btn'>
                        <option value = '0' selected disabled>Select Pok&eacute;mon</option>
                        <option value = '1'>Pikachu : 18</option>
                        <option value = '2'>Richu : 18</option>
                        <option value = '3'>Charizard : 18</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class = 'modal-footer'>
            <div class = 'col col-6'>
                <button class = 'btn btn-warning'>Send Trade Request</button>
            </div>
            <div class = 'col col-6'>
                <button class = 'btn btn-default'>Canel</button>
            </div>
        </div>
</ng-template>



