[type='radio']{
	display:none;
}

.badge{
	background-color: maroon;
	border-radius: 15px;
	margin-top:-47px;
	margin-left:68px;
	color: white;
	position: absolute;
}

.navUsr{
	padding-right: 20px;
	padding-top:8px;
}

.stick-me{
	position:fixed;
}
