<div class = 'container'>
  <div class = 'jumbotron'>
    <div class = 'col-lg-8 col-md-10 col-sm-12 offset-lg-2 offset-md-1 offset-sm-0'>
        <h1>Login</h1>
        <div class = 'row form-group'>
          <div class = 'col-lg-6 col-md-12 col-sm-12'>
            <label for = 'username'>Username</label>
            <input type = 'text' id = 'username' class = 'form-control'>
          </div>
          <div class = 'col-lg-6 col-md-12 col-sm-12'>
            <label for = 'password'>Password</label>
            <input type = 'password' id = 'password'  class = 'form-control'>
          </div>
        </div>
        <div class = 'row justify-content-center'>
          <div class = 'col-lg-6 col-md-12'>
            <button id = 'submit-btn' class = 'btn btn-primary'>Login</button>
          </div>
          <div class = 'col-lg-6 col-md-12'>
            <button id = 'create-btn' class = 'btn btn-primary'>Create Account</button>
          </div>
        </div>
      </div>
    </div>
</div>
