.pokemonBox{
    background-color: lightgray;
    border-radius: 10px;
}

.full-btn{
    width:100%;
}

.pokeLabel{
    /*line-height: -12px;*/
    margin-bottom: -10px;
    font-size: 10pt;
    font-weight: bold;
}
#poke1{
    cursor:pointer;
}

.pokeImg{
    max-height: 55px;
}

.modal-dialog{
    max-width: 700px !important;
}

#poke1:hover{
    background-color:lightgray;
}

.poke-yellow{
    background-color: rgb(255, 191, 0);
}

.ref-btn{
    margin-top:10px;
}

.page-title{
    margin-top: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid lightgray;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 100;
}

@media only screen and (max-width: 576px){
    .modal-dialog{
        max-width: 700px !important;
    }
    .pokeImg{
        max-height: 60px;
        max-width: 70px;
    }
}
